html 
  head 
    title InstaClone
    body 
      h1 Login
        form(action="/login" method="POST" encytype="form-data-multipart")
            label(for="email") Enter Email:
            input(type="text" name="email" placeholder="user@gmail.com")
            br 
            br
            label(for="pass") Enter passoword:
            input(type="text" name="pass")
            br
            br
            button Submit
