html 
  head 
    title
  script.
      function onChange() {
        if (document.getElementById("pass").value == document.getElementById("confirm-pass").value) {
             document.getElementById("submit-button").disabled = false;
             document.getElementById("message").innerHTML = "Passwords match";
             document.getElementById("confirm-pass").style.borderColor = "green";
        } else {
             document.getElementById("submit-button").disabled = true;
             document.getElementById("message").innerHTML = "Passwords do not match";
             document.getElementById("confirm-pass").style.borderColor = "red";
          }
      }
  body
    h1 Register
      form(action="/register" method="post")
        label(for="email") Enter Email:
          input(type="text" id="email" name="email" placeholder="user@gmail.com") 
          br 
          br
        label(for="username") Enter Username:
          input(type="text" id="username" name="username" placeholder="username") 
          br 
          br
          label(for="pass") Enter passoword:
          input(type="password" id="pass" name="pass" placeholder="" onkeyup="onChange()")
          br
          br
          label(for="confirm-pass") Confirm passoword:
          input(type="password" id="confirm-pass" placeholder="" onkeyup="onChange()")
          br 
          span(id="message")
          br
          br
          input(type="submit" value="Submit" id="submit-button")
