.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
  background-color: white;
  flex-wrap: wrap;
}

.banner ul {
  border: 0;
  margin: 0;
  padding: 0;
}

.banner li {
  display: inline-block;
  border: 0;
  margin: 0;
  padding: .5rem;
  list-style-type: none;
}

.banner a {
  display: block;
  text-decoration: none;
}

.banner a:hover {
  background-color: green;
}

.banner .logo-small{
  max-width: 90px;
  max-height: 50px;
}
