/* Remove default settings */
ul, li{
    border: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* HEADER WITH NAV BAR */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 1rem;
}

header li{
    font-size: 30px;
    display: inline;
}

header a{
    color: black;
    border-bottom: 2px solid #cbcbcb;
    padding: .2rem;
    margin-left: 1rem;
}

header a:hover{
    background-color: black;
    color: white;
}
