html{
    margin: 0;
}

html, body{
    width: 100%;

    /* FIXES BODY NOT BEING FULL PAGE */
    min-height: 100%;

    padding: 0;
    border: 0;
    margin: 0;
    background-color: #efefef;
    font-size: 1.2rem;

    /* Let the text breathe */
    line-height: 1.4;
}

/* MAIN FLEX CONTAINER */
main{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
