.post {
  border: 1px solid #cbcbcb;
  display: block;
  margin: 1rem;
  min-width: 30rem;
  min-height: 25rem;
  background-color: #503e6d;
  border-radius: 10px;
}
.post-heading {
  text-align: right;
}
.post p {
  display: block;
  margin: 0.5rem;
}
.post-creator {
  margin: 0.5rem;
  color: white;
}
.post img {
  width: 600px;
  height: 600px;
  display: block;
}
.post a {
  display: block;

  width: 600px;
  height: 600px;
}
.post-buttons {
  text-align: left;
}
.comment-list ul {
  flex-direction: column;
}
.comment-list li {
  text-decoration: none;
  list-style-type: none;
  text-align: left;
}
